<section
  class="section-titles"
  section-type="standard"
  see-all-style="style1"
  section-icon-style="video_2"
  section-title-style="left"
>
  <header>
    <div class="main-grids safe-area">
      <div class="inner">
        <div class="icon"></div>

        <h2>Popular Videos</h2>

        <div class="see-all">
          <p><a (click)="seeall()">See All</a></p>
        </div>
      </div>
    </div>
  </header>
</section>

<ion-grid>
  <ion-row>
    <ion-col col-12>
        <ion-slides>

            <ion-slide style="max-width: 295px;"  *ngFor="let item of videos; let i = index"  slide-style="style1" [ngStyle]="{'margin-left': i>0 ? '10px' : '0px'}"
                (click)="videoDetailsPageService.openVideo(item)">
                <div class="slide">
                    <div class="img-inner-wrapper">
                      <img
                        src="{{item?.imageURL || 'assets/imgs/album.jpg' }}"
                        style="border-radius: 9px; width: 250px; height: 200px;"
                      />
                      <div class="play-button"></div>
                      <h2 style="color: white">{{ item?.title}}</h2>
          
                      <cite class="author">
                        <a style="color: rgb(189, 189, 189) !important; text-decoration: none; font-style: normal;">{{ item?.oartist }}</a>
                      </cite>
                    </div>
                  </div>
            </ion-slide>
          
          
          </ion-slides>
    </ion-col>
  </ion-row>
</ion-grid>