<section
  class="section-titles"
  section-type="standard"
  see-all-style="style1"
  section-icon-style="play"
  section-title-style="left"
  *ngIf="recent"
>
  <header>
    <div class="main-grids safe-area">
      <div class="inner">
        <div class="icon"></div>

        <h2>Recently Played</h2>

        <div class="see-all">
          <p><a>See All</a></p>
        </div>
      </div>
    </div>
  </header>
</section>

<section
  class="list-songs playlist-song checkPlaylist"
  avatar="show"
  author="show"
  song-time="show"
  song-price="hide"
  like-number="hide"
  add-to="hide"
  delete-track="hide"
  ranking="hide"
  like-heart-style="style1"
  like-number-style="style1"
>
  <div class="main-grids safe-area">
    <div class="inner">
      <div
        *ngFor="let song of recent; let i = index"
        class="slide"
      >
        <div class="author-like-wrapper">
          <div
            class="author-avatar music-player-song"
            (click)="musicPlayerPageService.openMusicPlayer(recent, i)"
          >
            <img src="{{ song.imageURL }}" width="100%" height="auto" />
          </div>

          <div class="author-like">
            <div
              class="song-title-author music-player-song"
              (click)="musicPlayerPageService.openMusicPlayer(recent, i)"
            >
              <h2 class="title">{{ song.title }}</h2>

              <cite class="author">
                <a>{{ song.oartist }}</a>
              </cite>
            </div>

            <div class="song-info-options-container">
              <div class="like-container">
                <i class="fa fa-heart-o" *ngIf="!isLiked[i]" aria-hidden="true" style="color:white; font-size: 1.8em; 
                position: relative; top: 15px;" (click)="likeSong('like',i)"></i>
                 <i class="fa fa-heart" *ngIf="isLiked[i]" aria-hidden="true" style="color:#00ACFF; font-size: 1.8em; 
                 position: relative; top: 15px;" (click)="likeSong('dislike',i)" ></i>
              </div>

              <span
                class="song-time music-player-song"
                (click)="musicPlayerPageService.openMusicPlayer(recent, i)"
                >{{ song?.duration }}</span
              >
            </div>
          </div>

          <div class="divider"></div>
        </div>
      </div>
    </div>
  </div>
</section>
