<!-- <section
  *ngIf="!isLibrary"
  class="section-titles"
  section-type="standard"
  see-all-style="style1"
  section-icon-style="playlists"
  section-title-style="left"
>
  <header>
    <div class="main-grids safe-area">
      <div class="inner">
        <div class="icon"></div>

        <h2>The Best Playlists</h2>

        <div class="see-all">
          <p><a>See All</a></p>
        </div>
      </div>
    </div>
  </header>
</section> -->

<section
  *ngIf="playlist"
  class="section-titles"
  section-type="standard"
  see-all-style="style2"
  section-icon-style="playlists_white"
  section-title-style="left"
>
  <header>
    <div class="main-grids safe-area">
      <div class="inner">
        <div class="icon"></div>

        <h2 >Own Playlists</h2>
        <div class="see-all">
          <p><a (click)="musicPlayerPageService.openMusicPlayer(playlist, 0)">Play All</a></p>
        </div>
      </div>
    </div>
  </header>
</section>

<ion-grid *ngIf="playlist">
    <ion-row>
      <ion-col col-12>
          <ion-slides>
  
              <ion-slide style="max-width: 295px;"  *ngFor="let item of playlist; let i = index"  slide-style="style1" [ngStyle]="{'margin-left': i>0 ? '10px' : '0px'}"
                  (click)="musicPlayerPageService.openMusicPlayer(item, i)">
                  <div class="slide">
                      <div class="img-inner-wrapper">
                        <img
                          src="{{item?.imageURL}}"
                          width="100%"
                          height="auto"
                          style="border-radius: 9px;"
                        />
            
                        <h2 style="color: white">{{ item?.title}}</h2>
            
                        <cite class="author">
                          <a style="color: rgb(189, 189, 189) !important; text-decoration: none; font-style: normal;">{{ item?.oartist }}</a>
                        </cite>
                      </div>
                    </div>
              </ion-slide>
            
            
            </ion-slides>
      </ion-col>
    </ion-row>
  </ion-grid>

<!-- <section class="best-playlists-swiper-container checkPlaylist">
  <div
    class="swiper-container swiper-padding-left square-swiper playlist-swiper best-playlists-swiper-container no-fastclick"
  >
    <div class="swiper-wrapper">
      <div
        *ngFor="let playlist of bestPlaylists"
        class="swiper-slide the-playlist"
        album-cover="79sz6"
      >
        <div class="slide slide-1">
          <a class="playlist-button" (click)="goToPlaylist(playlist)">
            <div class="img-play">
              <img src="{{ playlist.pictureUrl }}" width="100%" height="auto" />

              <div class="blur"></div>

              <div class="playlist-song-number">
                {{ playlist.songsCount }} Songs
              </div>
            </div>
          </a>
        </div>

        <h2>{{ playlist.name }}</h2>

        <p class="playlist-followers">{{ playlist.followersCount }}</p>
      </div>

      <div class="swiper-slide"></div>
    </div>
  </div>
</section> -->
