<ion-header style="background-color: #120810">

  <h3 style="text-align: right; color: white; padding-right: 10px;" (click)="close()">Close</h3>

</ion-header>


<ion-content style="background-color: #120810;">
  <div style="width: 100% !important; height: 100% !important;">
    <ion-grid *ngIf="playlist">        
      <ion-row style="width: 100%; height: 50px !important;" *ngFor="let item of playlist.playlist; let i = index" 
        [ngStyle]="{'margin-top': i>0 ? '15px' : '0px'}"
        (click)="openSeeAllPage(item,i)"
        >
          <ion-col col-3 >
              <img src="{{images[i]}}" alt="" style="width: 50px; height: 50px;">
          </ion-col>
          <ion-col col-9>
           <h6 style="color: white; position: relative; top: -10px; ">{{item?.name}}
           
          </h6>
          </ion-col>
        </ion-row>
      </ion-grid>

      
</div>
</ion-content>
<ion-footer  style="background-color: #120810;">
<player-footer></player-footer>
</ion-footer>