<section class="videos-swiper-container">
  <div
    class="swiper-container video-playlist-swiper no-fastclick swiper-container-horizontal"
  >
    <div class="swiper-wrapper">
      <div
        *ngFor="let video of videos"
        class="swiper-slide the-video"
        (click)="videoDetailsPageService.openVideo(video)"
      >
        <div class="slide">
          <img src="{{ video.imageURL || 'assets/imgs/album.jpg' }}" style="width:237px; height: 120px;" />

          <div class="video-time-label">
            <div class="blur"></div>
            <p class="video-time">{{ video?.duration || '00:00'}}</p>
          </div>
        </div>

        <h2>{{ video.title }}</h2>

        <cite class="author">{{ video.oartist }}</cite>
      </div>
    </div>
  </div>
</section>
